

.bacground-image {
    background: url("../img/panorama01.jpg") no-repeat center center fixed;
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    /*Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    top:0;
}

.mainView-container {
    width: 100%;
    height: 80vh;
}

/* Position text in the middle of the page/image */
.content {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    /*color: white;*/
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /*z-index: 2;*/
    /*height:70%;*/
   /* padding-top:70px;
    padding: 20px;*/
    margin-top:5vh;
    margin-bottom:70px;
    text-align: center;
    border-radius: 10%;
    width: 75vw;
    /*height: auto;*/
    height:70vh;
    display: flex;


/*    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;*/
}

.btn-full-width {
    width: 100%;
    border-radius: 10%;
}

.btn-background-snowFall{
    background-color: transparent;
}
.btn-background-snowFall:hover {
    background-image: url("../img/snowFalling01.gif");
}


.btn-half-width{
    width:50%;
    border-bottom-left-radius:10%;
    border-top-left-radius:10%;
}

.allMyLotteries {
    width: 50%;
    position: relative;
    overflow-y: auto;
}

/*.allMyLotteries::-webkit-scrollbar {
    display: none;
}*/

/* Hide scrollbar for IE, Edge and Firefox */
/*.allMyLotteries {
    -ms-overflow-style: none;*/ /* IE and Edge */
    /*scrollbar-width: none;*/ /* Firefox */
/*}*/

.lottery {
    width:100%;
    position:relative;
    padding-top:1%;
}

.lottery-title {
    width:100%;
/*    z-index: 3;
    position: absolute;
    margin-bottom: 10px;
    margin-top: 5px;*/
}

.lottery-element {
    position: absolute;

}

.img-lottery-position{
/*    height: 70%;*/
    top: 20%;
    padding-top:5px;

}

.lottery-centered {
    left: 50%;
    transform: translate(-50%, 0);

}

.lottery-half-size {
    height: 100%;
    width: 50%
}

.lottery-position-left{
    left:0;
}

.card-header, .card-footer {
    background-color: lightgrey;
}

.bg_slider {
    --initialTextColor: #272838;
    --slideTextColor: transparent;
    --initialBgColor: transparent;
    --slideBgColorFirstHalf: white;
    --slideBgColorSecondHalf: #272838;
    color: #272838;
    background-image: linear-gradient(90deg, var(--initialBgColor) 0%, var(--initialBgColor) 50%, var(--slideBgColorFirstHalf) 50%, var(--slideBgColorFirstHalf) 75%, var(--slideBgColorSecondHalf) 75%, var(--slideBgColorSecondHalf) 100%);
    background-size: 400%;
    background-image: -ms-linear-gradient(left, transparent 0%, transparent 50%, white 50%, white 75%, black 75%, black 100%);
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    transition-delay: 0.0s, 0.15s;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

    .bg_slider:hover {
        color: transparent;




        cursor: pointer;
        background-position: -50% 100%;
    }

.text-position-center{

}
.text-white-onhover {
    color: transparent;
}

    .text-white-onhover:hover {
        color: white;
        transition-delay: 150ms;
    }

.text-black-onhover {
    color: transparent;
}

    .text-black-onhover:hover {
        color: black;
        transition-delay: 150ms;
        
    }

.text-v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-position-draw{
    right:30%;
    transform:translate(-70%, -50%);
}

.text-position-details {
    left: 30%;
    transform: translate(40%, -50%);
}
/*Mobie screen*/
@media only screen and (max-width: 600px) {


    .content {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90vw;
    }
    .btn-half-width {
        width: 100%;
        /*height:50%;*/
        padding-top:5%;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
    }
    .allMyLotteries
    {
        height:50%;
        width:100%;
        left:0;
    }


/*    .text-v-center {
        top: 2%;
        font-size: 15px;
    }

    .text-position-draw {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-position-details {
        right: 50%;
        transform: translate(0%, 50%);
    }*/
}
    @media only screen and (max-width: 1150px) {
        .text-v-center {
            top: 8%;
            /*transform: translate(0,-10%);*/
            font-size:15px;
        }
        .text-position-draw {
            left: 0%;
            transform: translate(20%, 0);
        }

        .text-position-details {
            right: 0%;
            transform: translate(-20%, 0);
        }
    
}