body {
}
.welcome-image {
    height: 350px;
    width: 320px;
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    background-image: url(../img/present01.gif);
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    .welcome-image {
        left: 40%;
        transform: translateX(-50%);
    }

}