
main {
    /*margin-left:30%;*/
}


.font-christmas {
    font-family: Lucida Handwriting, Goudy Old Style;
    font-style: italic;
}

.register-form {
    background-color: ghostwhite;
    font-size: 16px;
    /*left: 50%;*/
    /*position: absolute;*/
    /*    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);*/
    position: relative;
    display: block;
    padding: 3%;
    margin: auto;
    width: 26%;
    min-width: 280px;
    max-width: 350px;
    border-radius: 10%;
    background-color: #f0edf7;
}

.neon {
    color: #1c5169;
    background-color: #86dbff;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    border: 2px solid transparent;
}

    .neon:hover, .neon:focus {
        -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
        box-shadow: 0px 0px 30px 20px #3cc6d8;
        background-color: #d7f3ff;
    }

.form-group {
    margin: 5% 2% 5% 2%;
    padding: 0;
}

.form-control {
    padding-right: 0px;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 60%;
}


.register-form label {
    color: aliceblue;
}
