@inject UserManager<AppUser> userManager;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bacground-image"></div>
<div class="mainView-container">
    <div class="content" id="content">

        @RenderBody()

    </div>
</div>




@RenderSection("Scripts", required: false)

