
@{
    ViewData["Title"] = "Email został potwiedzony";

    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="infoContainer">
    <h2> @ViewBag.InfoTitle</h2>

    <h5>@ViewBag.InfoContent</h5>
</div>


