@model IEnumerable<WhosYourSanta.Models.Santa>

@{
    ViewData["Title"] = "DrawSanta";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <h1>DrawSanta</h1>

    <canvas id="canvas"></canvas>

    @*<div id=Draw-container>

            <div id=flip>
                @foreach (var item in Model)
                {
                    <div><div>@item.Name</div></div>
                }
            </div>

        </div>*@



    <form asp-action="DrawnSanta" asp-controller="Home" asp- asp-route-LotteryID="@Model.FirstOrDefault().Lottery.Id" method="post">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>

    <script type="text/javascript">
        @{
            string[] nicks = Model.Select(m => m.Name).ToArray();

        }
        var nicksTable = @Html.Raw(Json.Serialize(@nicks));
         //var nicksTable = ["baba", "ma", "koze", "na", "scianie", "lalal", "bum", "siaka", "laka"];
    </script>
    <script src="~/js/DrawSanta.js"></script>
