@model IEnumerable<WhosYourSanta.Models.Lottery>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
</head>
<body>
    <div class="bacground-image"></div>
    <div class="mainView-container">
        <div class="content">
            @*<div class="col-sm-12 h-100">

            <div class="row p-4 h-25">
                <button type="button" class="btn btn-primary btn-block ">Button 1</button>
            </div>
            <div class="row p-4 ">
                <div class="col-sm-6 mx-auto">
                        <button type="button" class="btn btn-lg btn-primary btn-block">Butk</button>
                </div>

            </div>

        </div>*@

            @if (Model.Count() < 1)
            {

                <button type="button" class="btn btn-full-width btn-background-snowFall font-christmas">Add Christmas Lottery</button>

            }
            else
            {
                <button type="button" class="btn btn-half-width btn-background-snowFall font-christmas">Add Christmas Lottery</button>
            }
            @*<div class="col-sm-12 h-25">
            <div class="row p-4 h-100">
                <button type="button" class="btn btn-primary btn-block ">Button 1</button>
            </div>


        </div>*@
        <div class="allMyLotteries">
            @foreach (var lottery in Model)
            {
                string photoPath = Url.Content("~/img/santa-avatar.jpg");
                //(lottery.PhotoPath ?? "noimage.jpg");
                <button class="lottery btn btn-background-snowFall">
                    
                        <div class="btn-lottery-details">
                            <div>@lottery.Name</div></div>

                    <img src="@photoPath" class="rounded-circle img-lottery-centered img-lottery-position" alt="Cinque Terre" />
   
                    @*</div>*@
                </button>

            }

        </div>

        </div>


    </div>


</body>
</html>
