@model IEnumerable<WhosYourSanta.Models.Lottery>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
</head>
<body>
    <div class="bacground-image"></div>
    <div class="mainView-container">
        <div class="content">
            

            @{
                string AddLotteryBtnClass= "btn-full-width";
                string LotteriesSectionWidth = "0";
                if (Model.Count() > 0)
                {
                    AddLotteryBtnClass = "btn-half-width";
                    LotteriesSectionWidth = "50%";
                }

             }
                <a type="button" asp-action="AddLottery" asp-controller="Home" class="btn @AddLotteryBtnClass btn-background-snowFall font-christmas">Add Christmas Lottery</a>
    
           

            <div class="allMyLotteries" style="width:@LotteriesSectionWidth">
                @foreach (var lottery in Model)
                {
                    string photoPath = Url.Content("~/img/santa-avatar.jpg");
                    var numberOfLotteriesOnPage = Model.Count() > 3 ? 3 : Model.Count();
                    //(lottery.PhotoPath ?? "noimage.jpg");
                    <a type="button" asp-route-id="@lottery.Id" asp-action="LotteryDetails" asp-controller="Home" class="lottery btn btn-background-snowFall" style="height:calc(100%/@numberOfLotteriesOnPage)">

                        <div class="lottery-title">
                            <div class="font-christmas">@lottery.Name</div>
                        </div>

                        <img src="@photoPath" class="rounded-circle img-lottery-centered img-lottery-position" alt="Cinque Terre" />

                        @*</div>*@
                    </a>

                }

            </div>

        </div>


    </div>


</body>
</html>
